<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crane.helloworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_DRM" />
    <!-- System apps can access the  receiver through intent-->
    <application
        android:name="com.crane.smsapp.SmsApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_smsmms"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.crane.convs.ConversationList"
            android:label="@string/app_name" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MESSAGING" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/mms" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/mms-sms" />
            </intent-filter>
        </activity>
        
         <activity android:name="com.crane.sms.ui.ComposeMessageActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:windowSoftInputMode="stateHidden"
                  android:launchMode="singleTop" >
        
        </activity>

        <activity-alias android:name="com.android.sms.ui.ForwardMessageActivity"
                  android:targetActivity="com.crane.sms.ui.ComposeMessageActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:windowSoftInputMode="stateHidden" >
        </activity-alias>
        
         <activity android:name="com.crane.sms.ui.MessagingPreferenceActivity"
            android:theme="@style/MmsHoloTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/preferences_title" />
         <activity android:name="com.crane.sms.ui.DeliveryReportActivity"
            android:label="@string/delivery_report_activity"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        
         <!-- Require sender permissions to prevent SMS spoofing -->
        <receiver android:name="com.crane.transaction.PrivilegedSmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
         
         <!-- Catch-all receiver for broadcasts that don't have associated security -->
        <receiver android:name="com.crane.transaction.SmsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.mms.transaction.MESSAGE_SENT" />
                <!-- TODO Do a better data match here. -->
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.crane.transaction.SEND_MESSAGE"/>
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MESSAGE" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.crane.transaction.MessageStatusReceiver">
            <intent-filter>
                <action android:name="com.android.mms.transaction.MessageStatusReceiver.MESSAGE_STATUS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name="com.crane.transaction.MessageStatusService"/>
        
        <receiver android:name="com.crane.transaction.SmsRejectedReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_REJECTED" />
            </intent-filter>
        </receiver>
        
         <!-- Widget -->
        <receiver android:name="com.crane.sms.widget.MmsWidgetProvider"  android:label="@string/app_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.mms.intent.action.ACTION_NOTIFY_DATASET_CHANGED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_info" />
        </receiver>
        <service android:name="com.crane.sms.widget.MmsWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS"
                 android:exported="false" />
         
         <service android:name="com.crane.transaction.SmsReceiverService"
                 android:exported="false" />
    </application>

</manifest>
